.btn-primary{
    border-radius: 5px;
    border: 0;
    background-color: orangered;
    color: white;
    padding: 10px 10px;
}
.text-primary{
    color: orangered;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

nav h3{
    font-size: 30px;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav li{
    list-style: none;
    align-items: center;
    margin-right: 40px;
}

.header{
    background-color: wheat;
    background-image: url();
}

.banner{
    padding: 20px 20px 20pc 50px;
    display: flex;
    align-items: center;
}

.banner img{
    width: 250px;
}